
body {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
    width: 100%;
  }
  
  /* ---- particles.js container ---- */
  
  #particles-js {
    position: absolute;
    width: 60%;
    height: 200px;
    margin-left: 60%;
    background-color: cornflowerblue;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
  }
  
  /* ---- stats.js ---- */
  
  .count-particles{
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
  
  .js-count-particles{
    font-size: 1.1em;
  }
  
  #stats,
  .count-particles{
    -webkit-user-select: none;
  }
  
  #stats{
    border-radius: 3px 3px 0 0;
    overflow: hidden;
  }
  
  .count-particles{
    border-radius: 0 0 3px 3px;
  }

/* Header */

.headline {
  /* background-color: rgba(255,255,255, 0.8); */
  padding: 15px;
  margin-left: 10%;
  height: 200px;
}

#title {
    fill-opacity: 0;
    transition: fill-opacity 1s;
}

.slogan {
  font-size: 36px;
  margin-left: 5%;
  font-family: 'Lobster', cursive;
}

/* Navbar */

.navbar {
  background-color: turquoise;
  padding-left: 10%;
  width: 100%;
  border-top: solid 3px darkgray;
  border-bottom: solid 3px darkgray;
}

.nav-link {
  color: white;
  font-size: 28px;
  font-family: 'Do Hyeon', sans-serif;
  z-index: 3;
}

.nav-item {
  width: 300px;
}

/* Cat */

#cat {
  height: 100px;
  position: relative;
  left: -300px;
}

.flying-cat {
    animation-name: flying-cat;
    animation-duration: 10s;
    z-index: 2;
}

@keyframes flying-cat {
    0%   {left:-300px; top:0px;}
    25%  {left:0px; top:150px;}
    50%  {left:400px; top:250px;}
    75%  {left:800px; top:50px;}
    100% {left:1400px; top:200px;}
}

/* Product cards */

.product {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: solid 5px turquoise;
}

.products {
  position: absolute;
  width: 1000px;
  margin-left: -1000px;
  /* display: none; */
}

/* Shopping Prompt */

.prompt {
  background-image: url("../images/online-shopping.jpeg");
  background-size: cover;
  height: 300px;
}

.prompt-card {
  width: 550px;
  background-color: #ffc9eb;
  /* margin-top: 25px; */
  margin-left: 28%;
  border: solid 5px darkgray;
  display: block;
}

#prompt-button {
  position: relative;
  right: 120px;
  top: 200px;
}

.money {
  font-family: 'Do Hyeon', sans-serif;
}

/* Grumpy Cat */
.cat-page {
  background-color: navy;
}

.grumpy-buttons {
  display: inline;
  margin-left: 28%;
  margin-top: 5px;
  margin-bottom: 5px;
}

#stay, #return {
  margin-left: 7%;
  margin-bottom: 25%;
}

.cat-page img {
  width: 40%;
  margin-left: 28%;
  margin-top: 7%; 
  margin-bottom: 5%;
  border: solid 5px turquoise;
}

body.picture-page {
  width: 100%;
}

a:visited {
  color: #ffffff;
}

a:link {
  text-decoration: none;
}

.bottom-half {
  background-image: url(../images/background.jpeg);
  background-size: cover;
  height: 1000px;

}

/* Modal */
.modal-cancel {
  background-color: white;
  color: #FF1C68;
  height: 50px;
  width: 100px;
  font-size: 24px;
}

.modal-ok {
  background-color: #14D790;
  height: 50px;
  width: 100px;
  font-size: 24px;
}

.modal-shade {
  display: none;
  opacity: 0;
  background: radial-gradient(circle at center, rgba(0, 0, 0, 0.4) 0, rgba(0,0,0,0.8) 100%);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  will-change: opacity;
}

.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
 } 
  .modal {
    opacity: 0;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.3);
    background: white;
    border-radius: 5px;
    padding: 30px 45px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 450px;
    font-family: 'Do Hyeon', sans-serif;
    margin-left: 35%;
    margin-top: 10%;
    border: solid 3px darkgray;
  }
  .modal h1 {
    margin-top: 25px;
    font-size: 44px;
  }

  .modal p {
    font-size: 30px;
  }
  
  .modal-actions { 
    align-self: flex-end;
  }


